---
name: Build container image
on:
  push:
    branches:
      - main
    paths-ignore:
      - "**/README.md"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}-${{ inputs.brand_name}}-${{ inputs.stream_name }}
  cancel-in-progress: true

jobs:
  build:
    name: Build Aemeath
    runs-on: ubuntu-24.04

    steps:
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y%m%d')"
      # These stage versions are pinned by https://github.com/renovatebot/renovate
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      # This is optional, but if you see that your builds are way too big for the runners, you can enable this by uncommenting the following lines:
      - name: Maximize build space
        uses: ublue-os/remove-unwanted-software@517622d6452028f266b7ba4cc9a123b5f58a6b53 # v7
      - name: Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:github-actions
      - name: Generate image version
        run: 'echo "image-version: ${IMAGE_VERSION}" > include/image-version.yml'
        shell: bash
        env:
          IMAGE_VERSION: "${{ steps.date.outputs.date }}"
      - run: |
          echo "$AEMEATH_CRT" > aemeath.crt
          echo "$AEMEATH_KEY" > aemeath.key
        shell: bash
        env:
          AEMEATH_CRT: ${{secrets.BST_ARTIFACT_PUSH_CERT}}
          AEMEATH_KEY: ${{secrets.BST_ARTIFACT_PUSH_KEY}}
      - name: Build packages
        uses: docker://registry.gitlab.com/freedesktop-sdk/infrastructure/freedesktop-sdk-docker-images/bst2:latest
        with:
          args: bst build --artifact-remote url=https://aemeath-cache.castorice.my.id,push=true,client-cert=aemeath.crt,client-key=aemeath.key aemeath/os.bst
      - name: Build images
        uses: docker://registry.gitlab.com/freedesktop-sdk/infrastructure/freedesktop-sdk-docker-images/bst2:latest
        with:
          args: bst build --artifact-remote url=https://aemeath-cache.castorice.my.id,client-cert=aemeath.crt,client-key=aemeath.key os/aemeath/export.bst
      - name: Export images
        uses: docker://registry.gitlab.com/freedesktop-sdk/infrastructure/freedesktop-sdk-docker-images/bst2:latest
        with:
          args: bst artifact checkout os/aemeath/export.bst --directory target
