---
name: Build container image
on:
  push:
    branches:
      - main
    paths-ignore:
      - "**/README.md"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}-${{ inputs.brand_name}}-${{ inputs.stream_name }}
  cancel-in-progress: true

jobs:
  build-aemeath:
    name: Build Aemeath
    runs-on: ubuntu-latest
    steps:
      - name: Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:github-actions
          ping: aemeath-cache.castorice.my.id
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      # This is optional, but if you see that your builds are way too big for the runners, you can enable this by uncommenting the following lines:
      - name: Maximize build space
        uses: ublue-os/remove-unwanted-software@517622d6452028f266b7ba4cc9a123b5f58a6b53 # v7
        with:
          remove-docker-cached-images: false
      - name: Setup tools
        run: |
          set -euox pipefail

          echo "$AEMEATH_CRT" > aemeath.crt
          echo "$AEMEATH_KEY" > aemeath.key

          sudo apt install -y bubblewrap lzip

          # Setup just
          curl --proto '=https' --tlsv1.2 -sSf https://just.systems/install.sh | sudo bash -s -- --to /usr/bin --tag 1.46.0

          # Setup rclone
          curl https://rclone.org/install.sh | sudo bash

          mkdir -p $HOME/.config
          cat << EOF > $HOME/.config/buildstream.conf
          scheduler:
            fetchers: 10
            builders: 4
            pushers: 4
            network-retries: 2
            on-error: quit
          build:
            max-jobs: 1
          EOF

          cat << EOF > rclone.conf
          [fina]
          type = s3
          provider = Other
          env_auth = false
          access_key_id = $S3_ACCESS_KEY_ID
          secret_access_key = $S3_SECRET_ACCESS_KEY
          region = fina
          endpoint = s3.castorice.my.id
          force_path_style = true
          acl = public-read
          bucket_acl = public-read
          EOF
        shell: bash
        env:
          AEMEATH_CRT: ${{secrets.BST_ARTIFACT_PUSH_CERT}}
          AEMEATH_KEY: ${{secrets.BST_ARTIFACT_PUSH_KEY}}
          S3_ACCESS_KEY_ID: ${{secrets.S3_ACCESS_KEY_ID}}
          S3_SECRET_ACCESS_KEY: ${{secrets.S3_SECRET_ACCESS_KEY}}
      - name: Enable push for building images
        run: |
          cat << EOF > include/artifacts.yml
          artifacts:
          - url: https://aemeath-cache.castorice.my.id
            push: true
            auth:
              client-key: aemeath.key
              client-cert: aemeath.crt
          EOF
      - name: Build components
        run: |
          docker run --rm \
          --workdir /work \
          -v "$HOME/.config:$HOME/.config" \
          -v "${{ github.workspace }}:/work" \
          -e HOME \
          --privileged --device /dev/fuse \
          registry.gitlab.com/freedesktop-sdk/infrastructure/freedesktop-sdk-docker-images/bst2 \
          bst build aemeath/desktop.bst
        shell: bash
      - name: Disable push for building images
        run: |
          cat << EOF > include/artifacts.yml
          artifacts:
          - url: https://aemeath-cache.castorice.my.id
            auth:
              client-key: aemeath.key
              client-cert: aemeath.crt
          EOF
        shell: bash
      - name: Build release artifacts
        run: |
          docker run --rm \
          --workdir /work \
          -v "$HOME/.config:$HOME/.config" \
          -v "${{ github.workspace }}:/work" \
          -e HOME \
          --privileged --device /dev/fuse \
          registry.gitlab.com/freedesktop-sdk/infrastructure/freedesktop-sdk-docker-images/bst2 \
          /bin/sh -c "bst build os/aemeath/export.bst; \
          bst artifact checkout os/aemeath/export.bst --directory target; \
          bst build os/aemeath/disk-image.bst; \
          bst artifact checkout os/aemeath/disk-image.bst --directory disks;"
      - name: Copy artifacts to S3 bucket
        run: |
          set -euox pipefail

          for f in target/*
          do
            rclone --config rclone.conf copy "$f" fina:aemeath/sysupdate/
          done
          for f in disks/*
          do
            rclone --config rclone.conf copy "$f" fina:aemeath/images/
          done
        shell: bash
