---
name: Build container image
on:
  push:
    branches:
      - main
    paths-ignore:
      - "**/README.md"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}-${{ inputs.brand_name}}-${{ inputs.stream_name }}
  cancel-in-progress: true

jobs:
  create-runner:
    name: Create Hetzner Cloud runner
    runs-on: ubuntu-latest
    outputs:
      label: ${{ steps.create-hcloud-runner.outputs.label }}
      server_id: ${{ steps.create-hcloud-runner.outputs.server_id }}
    steps:
      - name: Create runner
        id: create-hcloud-runner
        uses: Cyclenerd/hcloud-github-runner@v1
        with:
          mode: create
          github_token: ${{ secrets.AEMEATH_GH_PAT }}
          hcloud_token: ${{ secrets.HCLOUD_TOKEN }}
          server_type: cx33
          location: nbg1 # Nuremberg, Germany
          image: fedora-42 # Rocky Linux 9
  setup:
    name: Setup Runner
    needs: create-runner # required to start the main job when the runner is ready
    runs-on: ${{ needs.create-runner.outputs.label }} # run the job on the newly created runner

    steps:
      - run: dnf install -y podman toolbox
      - run: curl -fsSL https://tailscale.com/install.sh | sh
      - run: tailscale up --auth-key="${{ secrets.TS_OAUTH_SECRET }}" --advertise-tags=tag:github-actions
      - run: toolbox create -i registry.gitlab.com/freedesktop-sdk/infrastructure/freedesktop-sdk-docker-images/bst2 aemeath

  build:
    name: Build Aemeath
    needs:
      - create-runner
      - setup
    runs-on: ${{ needs.create-runner.outputs.label }} # run the job on the newly created runner

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y%m%d')"
      - name: Generate image version
        run: 'echo "image-version: ${IMAGE_VERSION}" > include/image-version.yml'
        shell: bash
        env:
          IMAGE_VERSION: "${{ steps.date.outputs.date }}"
      - name: Set up environment
        run: |
          echo "$AEMEATH_CRT" > aemeath.crt
          echo "$AEMEATH_KEY" > aemeath.key

          cat <<EOF > include/artifacts.yml
          artifacts:
          - url: https://aemeath-cache.castorice.my.id
            push: true
            auth:
              client-key: aemeath.key
              client-cert: aemeath.crt
          EOF
        shell: bash
        env:
          AEMEATH_CRT: ${{secrets.BST_ARTIFACT_PUSH_CERT}}
          AEMEATH_KEY: ${{secrets.BST_ARTIFACT_PUSH_KEY}}
      - name: Build packages
        run: toolbox run --container aemeath bst build aemeath/os.bst
      - name: Disable pushing for non-packages
        run: |
          cat <<EOF > include/artifacts.yml
          artifacts:
          - url: https://aemeath-cache.castorice.my.id
            auth:
              client-key: aemeath.key
              client-cert: aemeath.crt
          EOF
        shell: bash
      - name: Build images
        run: toolbox run --container aemeath bst build os/aemeath/export.bst
      - name: Export images
        run: toolbox run --container aemeath bst artifact checkout os/aemeath/export.bst --directory target
  delete-runner:
    name: Delete Hetzner Cloud runner
    needs:
      - create-runner # required to get output from the create-runner job
      - build # required to wait when the main job is done
    runs-on: ubuntu-latest
    if: ${{ always() }} # required to stop the runner even if the error happened in the previous jobs
    steps:
      - name: Delete runner
        uses: Cyclenerd/hcloud-github-runner@v1
        with:
          mode: delete
          github_token: ${{ secrets.AEMEATH_GH_PAT }}
          hcloud_token: ${{ secrets.HCLOUD_TOKEN }}
          name: ${{ needs.create-runner.outputs.label }}
          server_id: ${{ needs.create-runner.outputs.server_id }}
