---
name: Create release
on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  create-release:
    name: Create release tag
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
      - uses: taiki-e/install-action@v2
        with:
          tool: git-cliff
      - name: Generate tag
        run: |
          previous_version=$(git describe --tags $(git rev-list --tags --max-count=1))
          previous_date="${previous_version%%.*}"
          previous_rev="${previous_version#*.}"
          current_date=$(date +%Y%m%d)
          current_rev=1
          if [[ "$previous_date" == "$current_date" ]]; then
            current_rev=$((previous_rev+1))
          fi
          echo "Previous Version: ${previous_date}.${previous_rev}"
          echo "Current Version: ${current_date}.${current_rev}"
          echo "image_version=${current_date}.${current_rev}" >> $GITHUB_ENV
        shell: bash
      - name: Import component versions
        run: |
          yq -o=shell include/versions.yml >> ${GITHUB_ENV}
      - name: Generate Notes
        run: |
          cat > "CHANGELOG.md" << EOF
          # Aemeath OS ${{ env.image_version }}
          ## Components
          |**Package**            |**Version**               |
          |-----------------------|--------------------------|
          |**Freedesktop SDK**    |${{ env.sdk_version }}    |
          |**Qt**                 |${{ env.qt6_version }}    |
          |**KDE Frameworks**     |${{ env.kf6_version }}    |
          |**KDE Plasma**         |${{ env.plasma_version }} |
          |**KDE Gear**           |${{ env.gear_version }}   |

          ## Downloads
          * [Disk Image](https://aemeath.fuxuan.nanao.moe/images/aemeath_${{ env.image_version }}.img.zst)

          **NOTE: due to space limitations, only recent versions are downloadable**

          EOF
          git cliff --unreleased --tag "${{ env.image_version }}" --strip header >> CHANGELOG.md
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPO: ${{ github.repository }}
      - name: Create Release
        uses: softprops/action-gh-release@v2 # v2
        with:
          name: "Aemeath OS ${{ env.image_version }}"
          tag_name: ${{ env.image_version }}
          body_path: CHANGELOG.md
          make_latest: true
